<div class="container">
	<div class="members">
		<div class="app-header">RZ GitHub Messages</div>
		<ul class="member-names">
			{{!-- Within rows, divid up for picture and name --}}
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
		</ul>
	</div>
	<div class="chat-area"></div>
</div>