<div class="container">
	
	<div class="app-header">
		<div class="app-header-title">GitHub Messages</div>
		<div class="signin">Sign In</div>
	</div>
	
	<div class="members">
		<ul class="member-names"></ul>
	</div>
	
	<div class="github-options">
		<div class="options">
			<ul>
				<li class="option"><div class="issue-name">Create Issue</div></li>
			</ul>
		</div>
		<div class="option-action">

		</div>
	</div>
	
	<div class="chat-area">
		<div class="message-area"></div>
		<div class="message-area-input">
			<input type="text" name="msgbody" placeholder="Message" class="message-body">
		</div>
	</div>

	<div class="signin-prompt hidden">
		<input class="user" type="text" name="username" placeholder="Username">
		<input class="password" type="password" name="username" placeholder="Username">
		<div class="signin-btn">Confirm</div>
		<div class="cancel-btn">Cancel</div>
	</div>

	<div class="issue-form hidden">
		<input type="text" name="title" placeholder="Issue Title" class="issue-title">
		<input type="text" name="body" placeholder="Body (optional)" class="issue-body" >
	</div>
</div>