<div class="container">
	<div class="app-header">
		<div class="app-header-title">GitHub Messages</div>
		{{!-- <div class="signin">Sign In</div> --}}
	</div>
	<div class="members">
		<ul class="member-names"></ul>
	</div>
	<div class="chat-area"></div>
</div>