<div class="container">
	<div class="members">
		<div class="behind"></div>
		<div class="app-header">
			{{!-- <div id="app-header-background"></div> --}}
			<div class="header-title">RZ GitHub Messages</div>
		</div>
		<ul class="member-names">
			{{!-- Within rows, divid up for picture and name --}}
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>

			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
			<li class="name">Clayton</li>
			<li class="name">Richard</li>
			<li class="name">Charae</li>
			<li class="name">Matt</li>
			<li class="name">Brian</li>
		</ul>
	</div>
	<div class="chat-area"></div>
</div>