<div class="container">
	
	<div class="app-header">
		<div class="app-header-title">GitHub Messages</div>
		<div class="signin">Sign In</div>
	</div>
	
	<div class="members">
		<ul class="member-names"></ul>
	</div>
	
	<div class="github-options">
		<div class="options">
			<ul>
				<li class="option"><div class="issue-name">Create Issue</div></li>
			</ul>
		</div>
		<div class="option-action">

		</div>
	</div>
	
	<div class="chat-area">
		<div class="message-area"></div>
		{{!-- <div class="message-area">
			<input>
		</div> --}}
	</div>

	<div class="signin-prompt hidden">
		<input class="user" type="text" name="username" placeholder="Username">
		<input class="password" type="password" name="username" placeholder="Username">
		<div class="signin-btn"></div>
		<div class="cancel-btn"></div>
	</div>
</div>