<div class="container">
	<div class="app-header">
		<div class="app-header-title">GitHub Messages</div>
	</div>
	<div class="members">
		<ul class="member-names"></ul>
	</div>
	<div class="chat-area">

	</div>
</div>

<svg version="1.1" xmlns='http://www.w3.org/2000/svg'>
	<filter id='blur'>
		<feGaussianBlur stdDeviation='6' />
	</filter>
</svg>