/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------- Begin Website Styling ----------------- */

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 800;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
	box-sizing: border-box;
	/*font-weight: 700;*/
}

body {
	font-family: 'Open Sans';
	position: fixed;
	display: block;
	background-color: inherit;

}

.container {
}

.app-header {
	position: relative;
	/*background-color: #ec5a4d;*/
	width: 100%;
	height: 50px;
	border: 1px solid rgba(255,255,255,.15);
	box-shadow: 1px 1px 4px rgba(0,0,0,.3);
	z-index: 5;
	font-size: 1.4rem;
	opacity: 0.95;
	/*text-align: center;*/
}

.app-header-title {
	height: 100%;
	padding-left: 20px;
	font-size: 40px;
}

.signin {
	height: 100%;
	width: 100px;
	/*border: 1px solid #d8d8d8;*/
	/*float: right;*/
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}

.members, .github-options {
	width: 15%;
	height: 100%;
	/*margin-top: 5px;*/
	position: relative;
	float: left;
}

.member-names {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll; 
	font-size: 20px;
}

.person, .option {
	width: 100%;
	height: 75px;
	display: block;
	border-right: 20px solid white;
	border-left: 20px solid white;
	border-bottom: 1px solid #D8D8D8;
	overflow: hidden;
}

.name, .gravatar {
	float: left;
}

.name, .issue-name {
	width: 50%;
	height: 100%;
	margin-top: 25px;
	margin-left: 10px;
	cursor: pointer;
}

.gravatar {
	width: 25%;
	height: 65%;
	background-size: cover;
	border-radius: 50%;
	padding: 5px 5px;
	margin-top: 12px;
	cursor: pointer;
}

.chat-area {
	width: 70%;
	height: 100%;
	/*background-color: black;*/
	z-index: 2;
	float: right;
	overflow-y: scroll;
	border: 1px solid #d8d8d8;
}

.message-area {
	height: 89%;
	width: 100%;
	overflow: scroll;
}

.message-area-input {
	height: 2%;
	width: 100%;
	margin-left: 300px;
	position: fixed;

}

.message-body {
	height: 10%;
	width: 100%;

	border: 3px solid #d8d8d8;
	border-radius: 5px;
	outline: none;

	-webkit-transition: border-color 0.5s ease;
	transition: border-color 0.5s ease;
}

.message-body:focus {
	border-color: #27ae60;

	-webkit-transition: border-color 0.5s ease;
	transition: border-color 0.5s ease;

}

.message {
	height: 75px;
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 20px;
}

.message-body {
	display: block;
	height: 100%;
	width: 40%;
	float: left;
	background-color: #d8d8d8;
	margin-top: 10px;
}

.left-triangle {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #d8d8d8;
	float: left;
	margin-top: 30px;
}

.message-user-icon{
	height: 100%;
	/*width: 50px;*/
	float: left;
	margin-left: 5px;
	padding: 5px;
	border-radius: 50%;
}

.github-options {
	border-left: 1px solid #d8d8d8;
	float: right;
	overflow-y: scroll;
}

.issue-name, .repo-name {
	width: 100%;
	font-size: 25px;

	cursor: pointer;
}

.signin-prompt {
	height: 200px;
	width: 400px;
	position: absolute;
	top: 100px;
	left: 35%;
	background-color: #d8d8d8;
}

.hidden {
	display: none;
}

.signin-btn, .cancel-btn {
	height: 50px;
	width: 100px;
}

.issue-form {
	height: 400px;
	width: 600px;
	position: absolute;
	top: 100px;
	left: 20%;
}

svg {
  height:0;
  width: 0;
  position: absolute;
}